@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.about {
  height: 100vh;
  background-color: #1A1A1D;
  display: flex;
  flex-direction: column;
  padding: 0px 15%;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.aboutText {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  color: #3500D3;
  transition: all .2s ease-out;
  margin: 10% 0px;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: white;
  padding-bottom: 10px;
  text-decoration: none;
}

.link:hover {
  color: #3500D3
}

.sectionIn {
  width: 100%;

  animation-name: bounce;
  animation-timing-function: ease;
  animation-duration: 0.6s;
}

.section {
  transform: translateY(50px);
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image {
  align-self: center;
  max-width: 60%;
  height: auto;
}

.imageIn {
  align-self: center;
  max-width: 60%;
  height: auto;
}

.bio {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: white;
  width: 50%;
}

.button {
  text-decoration: none;
}

.buttonOutline {
  cursor: pointer;
  border: 2px solid #3500D3;
  width: 90px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(to right, #3500D3 50%, #1A1A1D 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .2s ease-out;
}

.buttonOutline:hover {
  background-position: left bottom;
}

.text {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  color: white;
  padding-bottom: 10px;
}

.buttonText {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 15px;
  color: white;
  transition: all .2s ease-out;
}

.buttonText:hover {
  color:white;  
}

@keyframes bounce {
  0%   { 
    transform: translateY(50px);
  }
  10%   { 
    transform: translateY(50px);
  }
  20%  {
    transform: translateY(50px);
  }
  30%   { 
    transform: translateY(50px);
  }
  40% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(50px);
  }
  60% { 
    transform: translateY(40px);
  }
  70% { 
    transform: translateY(30px);
  }
  80% { 
    transform: translateY(20px);
  }
  90% { 
    transform: translateY(10px);
  }
  100% { 
    transform: translateY(0);
  }
}

@media screen and (max-device-width: 600px) {
  .bio {
    font-size: 20px;
  }

  .section {
    transform: translateY(0px);
  }

  .sectionIn {
    animation-duration: 0s;
  }
}